* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #222;
    letter-spacing: -0.25px;
    min-width: 320px;
    background: radial-gradient(34.2% 33.19% at 47.45% 0%, #e6ecf3 0%, rgba(255, 255, 255, 0) 100%), #eff3f8;
}


.wrapper {
    min-height: 100dvh;
    width: 100%;
    max-width: 100%;
}

.layout {
    display: flex;
    align-items: stretch;
}

.layout_menu {
 flex-shrink: 0;
}

.layout_sidebar {
 flex-shrink: 0;
    width: 360px;
}

.layout_inner {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-grow: 1;
}

.layout_content {
    flex-grow: 1;
    max-width: 1200px;
}

.layout_widgets {
 flex-shrink: 0;
    width: 360px;
}

.widget {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}

.widget_title {
    font-size: 22px;
}

video {
    max-width: 100%;
    border-radius: 8px;
}
